body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-height: 100vh;
}
h2 {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}
div.container-buttons {
  width: 100%;
  height: 10%;
}
div.container-buttons button.btn {
  background-color: white;
  color: #65499c;
  border-color: #65499c;
}
caption {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
td.inserisci a.btn {
  padding: 2.5%;
  font-size: 0.95em;
}
form {
  font-size: 1em;
  width: 100%;
  height: 60%;
  padding: 6%;
  align-items: center;
  text-align: center;
}
label {
  margin-top: 2%;
  margin-bottom: 2%;
}
input.btn:hover, input.btn:active, input.btn:link, input.btn:focus {
  background-color: white;
  color: #65499c;
  border-color: #65499c;
}
input.btn {
  margin: 2px;
  background-color: #65499c;
  color: white;
  border-color: white;
}
table {
  font-size: 0.8em;
}
tr {
  align-items: center;
  width: 100%;
}
td.prezzo-scarpa {
  padding-left: 0%;
  padding-right: 0%;
  width: 12%;
}
td.immagine {
  padding-left: 0%;
  padding-right: 0%;
  width: 20%;
}
td {
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 2%;
  margin-bottom: 1%;
  text-align: center;
}
div.container-vuoto {
  padding: 8%;
  align-items: center;
  text-align: center;
}
td.azione td.vedi-ordine {
  width: 13%;
}
td.vedi-ordine a button.btn {
  font-size: 0.85em;
  width: 100%;
}
td.azione a button.btn {
  font-size: 0.85em;
  width: 100%;
  background-color: green;
  color: white;
  border-color: white;
}
img {
  object-fit: contain;
  max-width: 90%;
  max-height: 90%;
}
form > img {
  width: 50%;
  margin-bottom: 2%;
}
form a.annulla, td.gestisci-modello a.cancella{
  background-color: red;
  color: white;
  border-color: white;
}
 