body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-height: 100vh;
}
h2 {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}
div.container-buttons {
  width: 100%;
  height: 10%;
}
div.container-buttons button.btn {
  background-color: white;
  color: #65499c;
  border-color: #65499c;
}
caption {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}
form {
  font-size: 1em;
  width: 100%;
  height: 60%;
  padding: 6%;
  align-items: center;
  text-align: center;
}
label {
  margin-top: 2%;
  margin-bottom: 2%;
}
input.btn:hover, input.btn:active, input.btn:link, input.btn:focus {
  background-color: white;
  color: #65499c;
  border-color: #65499c;
}
input.btn {
  margin: 2px;
  background-color: #65499c;
  color: white;
  border-color: white;
}
td {
  font-size: 1.1em;
  margin-top: 2%;
  margin-bottom: 1%;
  text-align: center;
}
div.container-vuoto {
  padding: 8%;
  align-items: center;
  text-align: center;
}
td.azione a button.btn {
  background-color: green;
  color: white;
  border-color: white;
}


 