body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    height: 100%; 
    margin: 0; 
    padding: 0; 
}
header, div.d-flex{
    background-color: white;
    width: 100%;
    max-height: 20%;
}
header div.container {
    max-height: 20%;
}
p.lead {
    font-size: 0.95em;
}
li.nav-item a.nav-link {
    font-weight: bold;
}
a.btn, button.btn {
    margin: 2px;
    background-color: #65499c;
    color: white;
    border-color: white;
}
button.btn:hover {
    background-color: #c7a4ff;
    color: black;
    border-color: black;
}
a.btn:hover {
    background-color: #c7a4ff;
    color: black;
    border-color: black;
}
button {
    margin-left: 10px;
}
footer {
    position: relative;
    bottom :0;
    left: 0;
    width: 100%;
    margin-top: 40px;
    background-color: black;
}
footer.footer a {
    color: #c7a4ff;
    font-weight: bold;
}
footer p {
    color: #c7a4ff;
}
footer+img {
    max-height: 1%;
}
a.nav-link:hover{
    color: #c7a4ff;
}