body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a.btn, button.btn {
    margin: 2px;
    background-color: #65499c;
    color: white;
    border-color: white;
}
button.btn:hover, button.btn:active, button.btn:link, button.btn:focus {
    background-color: #c7a4ff;
    color: black;
    border-color: black;
}
a.btn:hover, a.btn:active, a.btn:link, a.btn:focus {
    background-color: white;
    color: #65499c;
    border-color: #65499c;
}
div.carousel-caption {
    padding: 1px;
    background-color: #9575cd;
}
div.carousel-caption p {
    padding: 1% 0.25%;
}
.card {
    background-color: #c7a4ff;
    margin: 20px 150px;
    text-align: center;
    border-width: 5px;
}
div.carousel-caption {
    padding: 1px;
    background-color: #9575cd;
}
div.carousel-caption p {
    padding: 1% 0.25%;
}
.card {
    background-color: #c7a4ff;
    max-width: 50%;
    max-height: 10%;
    text-align: center;
    border-width: 5px;
}
.card img.card-img-top {
    object-fit: contain;
}
button {
    margin-left: 10px;
}
