body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a.btn {
    margin: 2px;
    background-color: #65499c;
    color: white;
    border-color: white;
}
a.btn:hover, a.btn:active, a.btn:link, a.btn:focus {
    background-color: white;
    color: #65499c;
    border-color: #65499c;
}
div.carousel-caption {
    padding: 1px;
    background-color: #9575cd;
}
div.carousel-caption p {
    padding: 1% 0.25%;
}
div.card {
    background-color: #c7a4ff;
    margin: 20px 150px;
    align-items: center;
    text-align: center;
    max-width: 50%;
    max-height: 10%;
    border-width: 5px;
}
div.carousel-caption {
    padding: 1px;
    background-color: #9575cd;
}
div.card img.card-img-top {
    position: relative;
    float: center;
    object-fit: contain;
}
button {
    margin-left: 10px;
}
div.btn-toolbar {
    position: relative;
    width: 100%;
    float: center;
}
