body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
caption {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}
td {
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
}
td.data-notifica, td.titolo-notifica {
    width: 22%;
}
div.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 1px;
    height: 10%;
    color:white;
}
div.container a.admin button.btn {
    background-color: white;
    color: #65499c;
    border-color: #65499c;
}
