body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div.container {
    height: 60%;
    width: 100%;
}
div.card {
    border: 0px;
}
img.card-img-top {
    margin-left: 22%;
    max-width: 50%;
    max-height: 40%;
}
h2 {
    font-weight: bold;
}
h6 {
    padding: 5px;
}
div.card-body {
    width: 100%;
    max-height: 20%;
    position: relative;
    float: center;
    text-align: center;
}
select.form-select {
    margin-left: 10%;
    width: 30%;
    min-width: 40%;
    position: relative;
    float: left;
}
input.btn:hover, input.btn:active, input.btn:link, input.btn:focus {
    background-color: white;
    color: #65499c;
    border-color: #65499c;
}
form input.btn {
    margin-right: 10%;
    position: relative;
    float: right;
    width: 40%;
    background-color: #65499c;
    color: white;
    border-color: white;
}
form {
    margin-bottom: 6%;
}
p {
    text-align: center;
    color: red;
}